<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car API</title>
</head>
<style>
    h1, h3 {
        text-align: center;
    }

    div {
        text-align: center;
    }

</style>
<body>
<h1>WELCOME TO "car catalogue" API</h1>
<h3>by Błażej Karnecki</h3>
<h1>INDEX</h1>
<div>
    <button><a th:href="@{/cars/all}">Show all!</a>
    </button>
    <button><a th:href="@{/cars/since/{year}/to/{year2}}">Find desired car!</a>
    </button>
</div>
</body>
</html>
